.bgimg {
    font-family: "Palatino Linotype", Georgia, serif;
    background-image: url(../../assets/img/anoutus.jpg);
    z-index: -1;
    height: 70vh;
    position: relative;
    top: -14vh;
}

.title {
    z-index: 2;
    position: relative;
    top: 15vw;
    left: 30vw;
}

.title h1 {
    color: white;
    font-size: 15vw;
    opacity: 0.8;
    text-shadow: 5px 5px 7px rgb(168, 167, 167);
}

h2 {
    font-family: "Palatino Linotype", Georgia, serif;
    text-align: center;
    margin-bottom: 2vw;
}

.carousel {
    width: 60vw;
    margin: 0 auto;
}
