<div class="container">


    <ul class="nav justify-content-end">
       <span>
            <a class="nav-link text-white logo fw-bold" ariza-current="page" routerLink="/">TRAVELEX</a>
        </span>
        <li class="nav-item">
            <a class="nav-link text-white" ariza-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/travel">Travel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/blog">Blog</a>
        </li>
        <li class="nav-item p-0">
            <a class="nav-link text-white" routerLink="/about-us">About us</a>
        </li>
       
        <li class="nav-item">
            <a class="nav-link cart fw-bold" routerLink="/cart">Your trip</a>
        </li>

    </ul>
</div>