

.background {
    font-family: 'Palatino Linotype',Georgia, serif;
    background-image: url(../../assets/img/travel.jpg);
    z-index: -1;
    height: 70vh;
    position: relative;
    top: -14vh;
}

.title {
    z-index: 2;
    position: relative;
    top: 20vw;
    left: 40vw;
    
}

.title h1 {
    color:white;
    font-size: 20vw;
    opacity: 0.8;
    text-shadow: 5px 5px 7px rgb(168, 167, 167);

}

.card :hover{
    background-color:rgb(226, 243, 255);
}


.travelOffer {
    font-family: 'Palatino Linotype',Georgia, serif;
}

.travelOffer h1 {
    text-align: center;
    font-size: 5vw;
    text-shadow: 5px 5px 7px rgb(168, 167, 167);
}