.bgimg {
    font-family: 'Palatino Linotype',Georgia, serif;
    background-image: url(../../assets/img/blog.jpg);
    z-index: -1;
    height: 70vh;
    position: relative;
    top: -14vh;
}

.title {
    z-index: 2;
    position: relative;
    top: 6vw;
    left: 47vw;
    
}

.title h1 {
    color:white;
    font-size: 20vw;
    opacity: 0.8;
    text-shadow: 5px 5px 7px rgb(168, 167, 167);

}

.card :hover{
    background-color:rgb(255, 226, 255);
}

.blog {
    padding: 0 3vw;
}
