<div class="bgimg">
  <div class="title">
    <h1>blog</h1>
  </div>
</div>


<div class="blog">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="../../assets/img/0.jpg" class="card-img-top" alt="picture">
        <div class="card-body">
          <h5 class="card-title">Autum is coming</h5>
          <p class="card-text">Trees turned red and yellow, cool wind is browing. There is mix of feeling that sadness
            of ending Summer and enjoying of beautiful of nature.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/img/1.jpg" class="card-img-top" alt="picture">
        <div class="card-body">
          <h5 class="card-title">Present from space.</h5>
          <p class="card-text">Trees turned red and yellow, cool wind is browing. There is mix of feeling that sadness
            of ending Summer and enjoying of beautiful of nature.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/img/2.jpg" class="card-img-top" alt="picture">
        <div class="card-body">
          <h5 class="card-title">Onry people whi climbed can see.</h5>
          <p class="card-text">Trees turned red and yellow, cool wind is browing. There is mix of feeling that sadness
            of ending Summer and enjoying of beautiful of nature.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/img/3.jpg" class="card-img-top" alt="picture">
        <div class="card-body">
          <h5 class="card-title">City is getting shin.</h5>
          <p class="card-text">Trees turned red and yellow, cool wind is browing. There is mix of feeling that sadness
            of ending Summer and enjoying of beautiful of nature.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/img/4.jpg" class="card-img-top" alt="picture">
        <div class="card-body">
          <h5 class="card-title">Spring is coming.</h5>
          <p class="card-text">Trees turned red and yellow, cool wind is browing. There is mix of feeling that sadness
            of ending Summer and enjoying of beautiful of nature.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/img/5.jpg" class="card-img-top" alt="picture">
        <div class="card-body">
          <h5 class="card-title">Summer is coming</h5>
          <p class="card-text">Trees turned red and yellow, cool wind is browing. There is mix of feeling that sadness
            of ending Summer and enjoying of beautiful of nature.</p>
        </div>
      </div>
    </div>
  </div>
</div>