<div class="hero">
    <div class="text">
        <h2 class="fw-normal">Experience The</h2>
        <h1 class="fst-italic">Best Trip Ever</h1>
        <p>We are committed to offering travel<br> services of the highest quality. </p>
       
    </div>
</div>

<br>

<div class="card mb-3 mx-auto border-0" style="max-width: 100vw;">
    <div class="row g-0">

        <div class="col-6">
            <div class="card-body">
                <h1 class="card-title">Service we offer</h1>
                <button type="button" class="btn btn-outline-light  border-0 fs-5">Travel insuarance</button>
                <button type="button" class="btn btn-outline-light  border-0 fs-5">Flights</button>
                <button type="button" class="btn btn-outline-light  border-0 fs-5">Sightseeing</button>
                <button type="button" class="btn btn-outline-light  border-0 fs-5">Accommodation</button>
                <p>Travel insurance is compulsory on all trips and is a condition of booking with intrepid. When
                    selecting a travel insurance policy we require that at a minimum you are covered for medical
                    exponses, including emergency repatriation. we strongry recommended that the policy.</p>

            </div>
        </div>
        <div class="col-6">
            <img src="../../assets/img/fun.jpg" class="img-fluid rounded-end" alt="picture">
        </div>
    </div>
</div>